@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = null;
    var name = Configuration["ProjectName"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>Registration</title>
    <link rel="icon" type="image/x-icon" href="~/assets/fav04.png" />

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <!-- /global stylesheets -->
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js" asp-append-version="true"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js" asp-append-version="true"></script>


    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/appcss/RegistrationPage.css" asp-append-version="true" />
</head>
<body>
    <section class="myform-area" style="background-image: url('@Url.Content("~/assets/NewLogo/PNG/UaeBackground.png")');">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="form-area login-form" style=" background-image: linear-gradient(to left bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 30%),url('/assets/NewLogo/SVG/Group 11.svg');">
                        <div class="form-content">
                            <img class="icon-img" src="~/assets/NewLogo/JPG/UaeLogo.png" alt=""/>
                        </div>
                        <div class="form-input" id="USER">
                            <h1 style="color: #ACC43D">Welcome</h1>
                            <form action="" method="POST" id="UserForm" novalidate>

                                <div class="form-group">
                                    @if (ViewBag.Message != null)
                                    {
                                        <p class="welcome">  @ViewBag.Message</p>
                                    }
                                    else
                                    {
                                        <p class="welcome"> Your Password reset Successfully </p>
                                    }
                                </div>
                                <div class="myform-button" style="padding-left: 25px">
                                    @if (ViewBag.isForgotPassword == "True")
                                    {
                                        <a href='@Url.Action("Index", "Login")' class="myform-btn" type="submit" id="checkUser">
                                            Login
                                            <i class="icon-circle-right2 ml-2"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href='@Url.Action("Index", "Logout")' class="myform-btn" type="submit" id="checkUser">
                                            Login
                                            <i class="icon-circle-right2 ml-2"></i>
                                        </a>
                                    }
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="row footer">
                        <img src="@Url.Content("~/assets/NewLogo/PNG/MYTRUSTPoweredBy.png")" alt="alter img"/>
                    </div>

                </div>
            </div>
        </div>

    </section>

</body>
</html>
