@model DTPortal.Web.ViewModel.UserManagement.UserManagementListViewModel

@{
    ViewData["Title"] = "Users";
}
@{
    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
}
@{await Html.RenderPartialAsync("_AlertBox");}
<form id="antiForgeryForm" method="post">
    @Html.AntiForgeryToken()
</form>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">


                        @if (!User.IsInRole("Users Checker"))
                        {
                            <div class="btn-group">
                                <a id="addRow1" asp-action="New" class="btn btn-info"><i class="fa fa-plus"></i>Add</a>
                            </div>
                        }
                        <div class="btn-group">
                            <a class="btn btn-info" asp-action="List">
                                <i class="fa fa-refresh"></i>Refresh
                            </a>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <table id="userTable" class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Users == null || Model.Users.Count() == 0)
                            {
                                <tr>
                                    <td style="text-align:center" valign="top" colspan="5" class="dataTables_empty">No record found</td>
                                </tr>

                            }
                            else
                            {

                                @foreach (var item in Model.Users)
                                {
                                    <tr class="odd gradeX">
                                        <td>@item.FullName</td>
                                        <td>@item.MailId</td>
                                        <td>@item.Role.DisplayName</td>
                                        <td>@item.Status</td>
                                        <td class="valigntop">
                                            @if (!User.IsInRole("Users Checker"))
                                            {
                                                <div class="btn-group">
                                                    <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                        Actions
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-left">
                                                        <li>
                                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                                <i class="icon-pencil"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="js-delete" data-user="@item.Uuid" data-id="@item.Id">
                                                                <i class="fa fa-trash"></i>Delete
                                                            </a>
                                                        </li>
                                                        @*<li>
                                                    <a asp-action="Session" asp-route-id="@item.Uuid">
                                                        <i class="icon-file-text"></i>Session
                                                    </a>
                                                </li>*@
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="btn-group">
                                                    <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                        Actions
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-left">
                                                        <li>
                                                            <a href="@Url.Action("Edit", "UserManagement", new { id = item.Id })">
                                                                <i class="icon-docs"></i>View
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" style="margin-top: 1rem;" role="status" aria-live="polite">
                            @{
                                var i = 100 - (100 - (10 * (Model.Users.PageIndex - 1))) + 1;
                                var j = i + Model.Users.Count - 1;
                                var k = Model.Users.TotalCount;
                            }
                            Showing @i to @j of @k entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 paginationStyle">
                        <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous @prevDisabled" id="example4_previous">
                                    <a asp-action="List" asp-route-pageNumber="@(Model.Users.PageIndex - 1)"
                                       aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                                @{

                                    if (Model.Users.PageIndex == 1)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a aria-controls="example4" asp-action="List" asp-route-pageNumber="@Model.Users.PageIndex"
                                               data-dt-idx="1" tabindex="0" class="page-link">@Model.Users.PageIndex</a>
                                        </li>
                                    }
                                    else
                                    {
                                        int count = -2;
                                        while (count <= 2)
                                        {
                                            var index = Model.Users.PageIndex + count;

                                            if (index > 0 && index < Model.Users.TotalPages)
                                            {
                                                if (index == Model.Users.PageIndex)
                                                {
                                                    <li class="paginate_button page-item active">
                                                        <a aria-controls="example4" asp-action="List" asp-route-pageNumber="@index"
                                                           data-dt-idx="1" tabindex="0" class="page-link">@index</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button page-item">
                                                        <a aria-controls="example4" asp-action="List" asp-route-pageNumber="@index"
                                                           data-dt-idx="1" tabindex="0" class="page-link">@index</a>
                                                    </li>
                                                }
                                            }
                                            count++;
                                        }
                                    }
                                }

                                <li class="paginate_button page-item next @nextDisabled" id="example4_next">
                                    <a asp-action="List" asp-route-pageNumber="@(Model.Users.PageIndex + 1)"
                                       aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .disabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
</style>
@section scripts{
    <script>

        $(document).ready(function () {


            $('#digitalAuthSidebarElement').addClass('active');
            $('#userManagementSidebarElement').addClass('active');

            $('#homeSubmenu').addClass('show');
            $("li#digitalAuthSidebarElement a:first").attr('aria-expanded', 'true');


            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Authentication');
            $('#mainMenu').addClass('breadcrumb-item active').append('Users');
            $('#subMenu').removeClass('breadcrumb-item');

          //  $('#AuthenticationService').toggle();

            ////var table = $("#example4").DataTable({
            ////    "bLengthChange": false,
            ////    "bPaginate": false,
            ////    "bInfo": false,
            ////});

            $('#userTable').on('click', '.js-delete', function () {
                var deleteButton = $(this);
                var id = deleteButton.attr("data-id");
                var User = deleteButton.attr("data-user");
                var FullName = $(this).parents('tr:first').find('td:first').text();
                if (User == "1a864620-ac5b-4ef4-8656-2d7f6fe32844" || User == "9416c17e-1b91-4ee3-a00b-1031720a1ba0") {
                    swal("Not Allowed!", "The user " + FullName + " is default user, You can not delete this user", "info")
                    return false;
                }
                swal({
                    title: "Are you sure?",
                    text: "Do you want to delete this record",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: true
                }, function (isConfirm) {
                    if (isConfirm) {
                         
                    $.ajax({
                        type: 'POST',
                        cache: false,
                       // dataType: 'json',
                        url: '@Url.Action("Delete", "UserManagement")',
                        data: {
                           __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                            id: id,
                            uuid: User
                        },
                        beforeSend: function () {
                            $('#overlay').show();
                        },
                        complete: function () {
                            $('#overlay').hide();
                        },
                        success: function () {
                            deleteButton.closest('tr').remove();
                            window.location.reload();
                            //var index = $(this).closest('td').parent()[0].sectionRowIndex;
                            //document.getElementById("userTable").deleteRow(index);
                        },
                        error: ajaxErrorHandler
                    });
                    }
                    else {
                        return false;
                    }
                });
            });


        });

    </script>
}





@*<div class="col-sm-12 col-md-7 paginationStyle">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li class="paginate_button page-item previous">
                    <a aria-controls="complex_header" asp-action="List"
                       asp-route-pageNumber="@(Model.Users.PageIndex - 1)"
                       class="page-link ">
                        Previous
                    </a>
                </li>

                @{
                    int count = -2;
                    while (count <= 2)
                    {
                        var index = Model.Users.PageIndex + count;

                        if (index > 0 && index < Model.Users.TotalPages)
                        {
                            if (index == Model.Users.PageIndex)
                            {
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="example4" asp-action="List" asp-route-pageNumber="@index"
                                       data-dt-idx="1" tabindex="0" class="page-link">@index</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button page-item">
                                    <a href="#" aria-controls="example4" asp-action="List" asp-route-pageNumber="@index"
                                       data-dt-idx="1" tabindex="0" class="page-link">@index</a>
                                </li>
                            }
                        }
                        count++;
                    }
                }

                <li class="paginate_button page-item next" id="complex_header_next">
                    <a aria-controls="complex_header" asp-action="List"
                       asp-route-pageNumber="@(Model.Users.PageIndex + 1)"
                       class="page-link @nextDisabled">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>*@