@model IEnumerable<OrganizationUsageReportDTO>
@using DTPortal.Core.DTOs


<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class=card-body>
                <table class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Invoice Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            @foreach (var item in @Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@item.ReportMonth</td>
                                    <td>@item.ReportYear</td>
                                    <td>@item.TotalInvoiceAmount</td>
                                    <td class="valigntop" align="center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                            aria-expanded="false">
                                                Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-left">
                                                <li>
                                                    
                                                     <button type="button" onclick="hello('@item.OrganizationId', '@item.Id');">
                                                        <i class="fa fa-download"></i> Download
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" align="center" style="width:200%">No records found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
        
    function hello(uid, id)
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("DownloadUsageReport", "OrganizationUsageReport")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data:{'reportId' : id},
            beforeSend: function () {
                $('#overlay').show();
            },
            complete: function () {
                $('#overlay').hide();
            },
            success: function (data) {
                if (data == null)
                {
                    swal({ type: 'error', title: "Error", text: "Failed to download the report" });
                }
                else
                {
                    saveByteArray(uid, data);
                }
            },
            error: ajaxErrorHandler,
            failure: function (response) {
                swal({ type: 'error', title: "Error", text: "Failed to process your request" });
            }
        });
    }

    function download(uid, id)
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("DownloadUsageReport", "OrganizationUsageReport")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data:{'reportId' : id},
            beforeSend: function () {
                $('#overlay').show();
            },
            complete: function () {
                $('#overlay').hide();
            },
            success: function (data) {
                if (data == null)
                {
                    swal({ type: 'error', title: "Error", text: "Failed to download the report" });
                }
                else
                {
                    saveByteArray(uid, data);
                }
            },
            error: ajaxErrorHandler,
            failure: function (response) {
                swal({ type: 'error', title: "Error", text: "Failed to process your request" });
            }
        });
    }

    function saveByteArray(uid, base64String) {
            var myBytes = base64ToArrayBuffer(base64String);
            var blob = new Blob([myBytes], { type: "application/pdf" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            let fileName = uid + ".pdf";
            link.download = fileName;
            link.click();
            //var myBytes = base64ToArrayBuffer(bytes);
            //var blob = new Blob([myBytes], { type: "application/pdf" });
            //var link = window.URL.createObjectURL(blob);
            //window.open(link, '', 'height=650,width=840');
        }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }
</script>