@model DTPortal.Web.ViewModel.ESealRegistration.OrganizationDetailsViewModel

@using Newtonsoft.Json
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var clientName = @Configuration["ProjectName"] as string;
}
@{
    ViewData["Title"] = "Organization Details";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}

@{
    var signData = "data:image/png;base64," + Model.TemplateList.FirstOrDefault(x => x.Id == Model.SignatureTemplate).SamplePreview;
    var esealData = "data:image/png;base64," + Model.TemplateList.FirstOrDefault(x => x.Id == Model.ESealTemplate).SamplePreview;
}

<style>
    fieldset {
        padding: 5px;
        border: groove 2px;
        padding-top: 5px;
        margin-bottom: 5px;
        overflow-y: auto;
        height: 180px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    a.dropdown-item:hover {
        color: #212529 !important;
    }

    .signatoryEmailListInput {
        width: 50%;
        padding-left: 5px;
        border: none;
    }

    .directorEmailListInput {
        width: 93%;
        padding-left: 5px;
        border: none;
    }

        .signatoryEmailListInput:hover, .directorEmailListInput:hover {
            outline: none !important;
            border: none !important;
        }

        .signatoryEmailListInput:focus, .directorEmailListInput:focus {
            outline: none !important;
            border: none !important;
        }

    #signatoriesLegend {
        display: block;
        width: auto;
        max-width: 100%;
        padding: 0;
        margin-bottom: -0.3rem;
        font-size: 1.1rem;
        line-height: inherit;
        color: inherit;
        white-space: normal;
    }

    #directorLegend {
        display: block;
        width: auto;
        max-width: 100%;
        padding: 0;
        margin-bottom: -0.3rem;
        font-size: 1.1rem;
        line-height: inherit;
        color: inherit;
        white-space: normal;
    }

    .custom-file-upload {
        background: #f7f7f7;
        padding: 3px 10px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <h5>Business Profile</h5>
                            <fieldset style=" height:auto">
                                <div class="form-group col-md-6" style="float:left;">
                                    <div class="form-group">
                                        <label asp-for="OrganizationName" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.OrganizationName)
                                        </label>
                                        <input asp-for="OrganizationName" class="form-control" readonly />
                                        <span asp-validation-for="OrganizationName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TaxNo" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.TaxNo)
                                        </label>
                                        <input asp-for="TaxNo" class="form-control" readonly />
                                        <span asp-validation-for="TaxNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CorporateOfficeAddress1" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.CorporateOfficeAddress1)
                                        </label>
                                        <input asp-for="CorporateOfficeAddress1" class="form-control" readonly />
                                        <span asp-validation-for="CorporateOfficeAddress1" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Country" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.Country)
                                        </label>
                                        <input asp-for="Country" class="form-control" readonly />
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" style="float: right;">
                                    <div class="form-group">
                                        <label asp-for="OrganizationEmail" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.OrganizationEmail)
                                        </label>
                                        <input asp-for="OrganizationEmail" class="form-control" readonly />
                                        <span asp-validation-for="OrganizationEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UniqueRegdNo" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.UniqueRegdNo)
                                        </label>
                                        <input asp-for="UniqueRegdNo" class="form-control" readonly />
                                        <span asp-validation-for="UniqueRegdNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CorporateOfficeAddress2" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.CorporateOfficeAddress2)
                                        </label>
                                        <input asp-for="CorporateOfficeAddress2" class="form-control" readonly />
                                        <span asp-validation-for="CorporateOfficeAddress2" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Pincode" class="col-form-label">
                                            @Html.DisplayNameFor(m => m.Pincode)
                                        </label>
                                        <input asp-for="Pincode" class="form-control" readonly />
                                        <span asp-validation-for="Pincode" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0" style="float:left; pointer-events: none; opacity: 0.8">
                            <div class="form-group mb-0">
                                <label asp-for="SpocUgpassEmail" class="col-form-label">SPOC @clientName Email</label>
                                <input asp-for="SpocUgpassEmail" class="form-control" readonly />
                                <span asp-validation-for="SpocUgpassEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="float:right; pointer-events: none; opacity: 0.8; padding-top: 3%;">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="EnablePostPaidOption">
                                        <input asp-for="EnablePostPaidOption" />
                                        Enable Post Paid
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0" style="float:left; pointer-events: none; opacity: 0.8">
                            <div class="form-group mb-0">
                                <label asp-for="AgentUrl" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.AgentUrl)
                                </label>
                                <input asp-for="AgentUrl" class="form-control" readonly />
                                <span asp-validation-for="AgentUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="float:right; pointer-events: none; opacity: 0.8">
                            <div class="form-group mb-0">
                                <label asp-for="EmailDomain" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.EmailDomain)
                                </label>
                                <input asp-for="EmailDomain" class="form-control" readonly />
                                <span asp-validation-for="EmailDomain" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6" style="float:left; opacity: 0.8">
                            <fieldset style="height: 215px; overflow-x: hidden; padding: 10px">
                                <div class="borderBox light bordered card-box" style="border:none !important; box-shadow: none !important; margin-bottom:0 ">
                                    <div class="borderBox-title tabbable-line">
                                        <ul id="ReportsTab" class="nav nav-tabs" style="float: left;">
                                            <li class="nav-item" id="signatureTemplateTab">
                                                <a href="#signatureTemplate" data-toggle="tab" class="active">Signature Template</a>
                                            </li>
                                            <li class="nav-item" id="eSealTemplateTab">
                                                <a href="#eSealTemplate" data-toggle="tab">ESeal Template</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="borderBox-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="signatureTemplate">
                                                <div class="form-group">
                                                    <select asp-for="SignatureTemplate" class="form-control" disabled>
                                                        @foreach (var template in Model.TemplateList)
                                                        {
                                                            if (template.Type.ToLower() == "sign")
                                                            {
                                                                <option data-preview="@template.SamplePreview" value="@template.Id">@template.DisplayName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <span asp-validation-for="SignatureTemplate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <img id="signatureTemplatePreviewImage" src="@signData" alt="alter img"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="eSealTemplate">
                                                <div class="form-group">
                                                    <select asp-for="ESealTemplate" class="form-control" disabled>
                                                        @foreach (var template in Model.TemplateList)
                                                        {
                                                            if (template.Type.ToLower() == "eseal")
                                                            {
                                                                <option data-preview="@template.SamplePreview" value="@template.Id">@template.DisplayName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <span asp-validation-for="ESealTemplate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <img id="eSealTemplatePreviewImage" src="@esealData" alt="alter img" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group col-md-6" style="float:right; pointer-events: none; opacity: 0.8">
                            <fieldset id="addDirectorFieldset" style="display:none">
                                <legend id="directorLegend">Board Directors:</legend>
                                @if (Model.DirectorsEmailList != null && Model.DirectorsEmailList.Count > 0)
                                {
                                    <div>
                                        <ul id="director-list" style="margin-left: 3px;">
                                            @for (int i = 0; i < Model.DirectorsEmailList.Count; i++)
                                            {
                                                <li>
                                                    <input name='DirectorsEmailList.index' value="@i" style='display: none;' />
                                                    <input class='directorEmailListInput' asp-for="@Model.DirectorsEmailList[i]" readonly />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12" style="float:left; opacity: 0.8">
                            <fieldset id="addSignatoryEmailFieldset" style="display:none">
                                <legend id="signatoriesLegend">Business Users</legend>
                                <div style="min-width:500px">
                                    <div id="signatoryLable">

                                        <ul>
                                    <li style="display:flex">

                                        <div class="form-row col-md-12">
                                            <div class="col-md-4" style="padding:0">
                                                <span style="font-size:10px">Organization Email</span>
                                                @*<input  class='signatoryEmailListInput' disabled />*@

                                            </div>

                                            <div class="col-md-1" style="padding:0">
                                                <span style="font-size:10px">Affix eseal</span>
                                            </div>
                                            <div class="col-md-1" style="padding:0">
                                                <span style="font-size:10px">Preparatory</span>
                                            </div>

                                            <div class="col-md-1" style="padding:0; text-align-last: center;">
                                                <span style="font-size:10px">Bulk signer</label>
                                            </div>

                                            <div class="col-md-2" style="padding:0; text-align-last: center;">
                                                <span style="font-size:10px">Designation</span>
                                            </div>
                                            <div class="col-md-2">
                                                <span style="font-size:10px">Custom Signature</span>
                                            </div>
                                        </div>
                                    </li>
                                        </ul>
                                    </div>
                                    <ul id="signatory-email-list" style="margin-left: 3px;">
                                        @for (int i = 0; i < Model.OrganizationUsersList.Count; i++)
                                        {
                                            




                                            <li style='margin-top: 2px;margin-bottom: 2px; display:flex'>
                                                @{
                                                    var ugpassEmailId = "OrganizationUsersList_" + @i + "__Ugpassemail";
                                                    var nationalIdNumberId = "OrganizationUsersList_" + @i + "__NationalIdNumber";
                                                    var passportNumberId = "OrganizationUsersList_" + @i + "__PassportNumber";
                                                    var mobileNumberId = "OrganizationUsersList_" + @i + "__MobileNumber";
                                                    var employeeEmailId = "OrganizationUsersList_" + @i + "__EmployeeEmail";
                                                    var eSealSignatoryId = "OrganizationUsersList_" + @i + "__ESealSignatory";
                                                    var eSealPrepatoryId = "OrganizationUsersList_" + @i + "__ESealPrepatory";
                                                    var templateId = "OrganizationUsersList_" + @i + "__Template";
                                                    var bulksignId = "OrganizationUsersList_" + @i + "__Bulksign";
                                                    var designationId = "OrganizationUsersList_" + @i + "Designation";
                                                    var signaturePhotoId = "OrganizationUsersList_" + @i + "SignaturePhoto";
                                                }
                                                <div class='form-row col-md-12' style='height:25px'>
                                                    <input name='OrganizationUsersList.index' value='@i' style='display: none;' />
                                                    <div>
                                                        <textarea type='text' class="ugpassEmailListInput" style='resize: none;white-space: nowrap;width:100%;' id="@ugpassEmailId" name='OrganizationUsersList[@i].Ugpassemail' readonly hidden>@Model.OrganizationUsersList[i].UgpassEmail</textarea>
                                                    </div>
                                                    <div>
                                                        <input type='text' style='height:23px' class='form-control ninListInput' id='@nationalIdNumberId' name='OrganizationUsersList[@i].NationalIdNumber' value='@Model.OrganizationUsersList[i].NationalIdNumber' hidden />
                                                    </div>
                                                    <div>
                                                        <input type='text' style='height:23px' class='form-control passportNumberListInput' id="@passportNumberId" name='OrganizationUsersList[@i].PassportNumber' value='@Model.OrganizationUsersList[i].PassportNumber' hidden />
                                                    </div>
                                                    <div>
                                                        <input type='text' style='height:23px' class='form-control mobileNumberListInput' id="@mobileNumberId" name='OrganizationUsersList[@i].MobileNumber' value='@Model.OrganizationUsersList[i].MobileNumber' hidden />
                                                    </div>


                                                    <div class='col-md-4'>
                                                        <textarea type='text' style='resize: none;white-space: nowrap;width:100%;' class='signatoryEmailListInput' id="@employeeEmailId" name='OrganizationUsersList[@i].EmployeeEmail' readonly>@Model.OrganizationUsersList[i].EmployeeEmail</textarea>
                                                    </div>
                                                    <div class='col-md-1' style='padding-left: 2%;'>
                                                        <input type='checkbox' class='custom-check-box' id="@eSealSignatoryId" name='OrganizationUsersList[@i].ESealSignatory' value='true' checked="@Model.OrganizationUsersList[i].ESealSignatory" onclick='return false' onkeydown='return false' />
                                                    </div>
                                                    <div class='col-md-1' style='padding-left: 2%;'>
                                                        <input type='checkbox' class='custom-check-box' id="@eSealPrepatoryId" name='OrganizationUsersList[@i].ESealPrepatory' value='true' checked="@Model.OrganizationUsersList[i].ESealPrepatory" onclick='return false' onkeydown='return false' />
                                                    </div>

                                                    <div class='col-md-1' style='padding-left: 3%;'>
                                                        <input type='checkbox' class='custom-check-box' id="@templateId" name='OrganizationUsersList[@i].Template' value='true' checked="@Model.OrganizationUsersList[i].Template"  hidden />
                                                        <input type='checkbox' class='custom-check-box' id="@bulksignId" name='OrganizationUsersList[@i].Bulksign' value='true' checked="@Model.OrganizationUsersList[i].Bulksign" onclick='return false' onkeydown='return false' />
                                                    </div>

                                                    <div class='col-md-2' style='padding-left: 2%;'>
                                                        <input type='text' style='height:23px; padding-left: 5px;' class='form-control designationListInput' id="@designationId" name='OrganizationUsersList[@i].Designation' value='@Model.OrganizationUsersList[i].Designation' readonly />
                                                    </div>

                                                    <div class='col-md-1' style='padding-left: 1%;'>
                                                        <div class='form-group' style='display: flex;align-items: center;'>
                                                            <label for='OrganizationUsersList_@i' class='btn btn-info custom-file-upload' style='height:23px;width:40px;margin-left:2px' aria-label="Upload signature file">
                                                                <i class='fa fa-file'></i>
                                                            </label>
                                                            <i class='fa fa-check-circle fa-lg text-success' style='display:@(string.IsNullOrEmpty(Model.OrganizationUsersList[i].SignaturePhoto)?"none":"block")'></i>
                                                            <input type='file' class='form-control' @*onchange='encodeImageFileAsURL(this)' onchange='FileToBase64(this)'*@ id='OrganizationUsersList_@i' name="OrganizationUsersList[@i]" accept='.jpg, .png, .jpeg' hidden />
                                                            <input type='text' class='form-control signatureFile' id="@signaturePhotoId" name='OrganizationUsersList[@i].SignaturePhoto' value='@Model.OrganizationUsersList[i].SignaturePhoto' hidden />
                                                        </div>
                                                    </div>
                                                    <div class='col-md-1' style='padding-left: 5%;'>
                                                        <button class='btn btn-xs btn-primary liEditViewButton' type='button' style='width: 50px; height: 25px;'>edit</button>
                                                    </div>
                                                    @*<div class='col-md-1' style='padding-left: 5%;'>
                                                        <button class='clearliSignatory' type='button' style='margin-left:8px'>x</button>
                                                    </div>*@
                                                </div>
                                            </li>


                                        }
                                    </ul>
                                </div>
                            </fieldset>
                        </div>


                        <div class="modal" id="modal-addBusinessUser"  role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">User Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">


                                        <form id="SaveBusinessEmailForm">
                                            <input type="text" id="index" class="form-control" hidden />
                                            <div class="form-group">
                                                <label for="BusinessUser_ugPassEmail" class="control-label"> @clientName email:</label>
                                                <input type="text" id="BusinessUser_ugPassEmail" class="form-control" readonly/>
                                                <span id="ugpassEmailSpan" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="BusinessUser_NIN" class="control-label">NIN :</label>
                                                <input type="text" id="BusinessUser_NIN" class="form-control" readonly/>
                                                <span id="ninSpan" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="BusinessUser_Passport" class="control-label">Passport number :</label>
                                                <input type="text" id="BusinessUser_Passport" class="form-control" readonly/>
                                                <span id="passportNumberSpan" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="employeeEmail" class="control-label">Organization email Id </label>
                                                <input id="employeeEmail" class="form-control" readonly />
                                                <span id="employeeEmailSpan" class="text-danger"></span>
                                            </div>


                                            <div class="form-group">
                                                <label for="BusinessUser_MobileNumber" class="control-label">Mobile number :</label>
                                                <input type="text" id="BusinessUser_MobileNumber" class="form-control" readonly/>
                                                <span id="mobileNumberSpan" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="BusinessUser_Designation" class="control-label">Designation :</label>
                                                <input type="text" id="BusinessUser_Designation" class="form-control" readonly/>

                                            </div>

                                            <div class="form-group">
                                                <label for="BusinessUser_CustomSignature" class="control-label">Custom Signature(jpg, png, jpeg)  :</label>
                                                <input type="file" id="BusinessUser_CustomSignature"  class="form-control" accept=".jpg, .png, .jpeg" />
                                                <input type="text" id="BusinessUser_Signature" hidden />
                                            </div>
                                            <br />
                                            <fieldset style="height:120px;">
                                                <legend style=" font-size:1rem">Privileges</legend>
                                                <lable>
                                                    <input type="checkbox" id="BusinessUser_ESealSignatory" class="custom-check-box" style="margin-left:5px" onclick="return false;" onkeydown="return false" />Affix eseal
                                                </lable>
                                                <br />
                                                <lable>
                                                    <input type="checkbox" id="BusinessUser_Bulksign" class="custom-check-box" style="margin-left:5px" onclick="return false;" onkeydown="return false" />Bulk Signer
                                                </lable>
                                                <br />
                                                <lable>
                                                    <input type="checkbox" id="BusinessUser_ESealPreparatory" class="custom-check-box" style="margin-left:5px" onclick="return false;" onkeydown="return false" />Preparatory(eseal and Template)
                                                </lable>
                                            </fieldset>


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="button" id="SaveChanges_BusinessEmail" class="btn btn-primary">Save</button>*@
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="form-row">
                        @if (!String.IsNullOrEmpty(Model.AuthorizedLetterForSignatories))
                        {
                            <button type="button" class="btn btn-info" onclick="downloadDocument('AuthorizedLetter');">
                                <i class="fa fa-download"></i>Authorized Letter
                            </button>
                        }
                        @if (!String.IsNullOrEmpty(Model.ESealImage))
                        {
                            @:&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" onclick="downloadDocument('ESeal');">
                                <i class="fa fa-download"></i>ESeal
                            </button>
                        }
                        @if (!String.IsNullOrEmpty(Model.Incorporation))
                        {
                            @:&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" onclick="downloadDocument('Incorporation');">
                                <i class="fa fa-download"></i>Incorporation
                            </button>
                        }
                        @if (!String.IsNullOrEmpty(Model.Tax))
                        {
                            @:&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" onclick="downloadDocument('Tax');">
                                <i class="fa fa-download"></i>Tax
                            </button>
                        }
                        @if (!String.IsNullOrEmpty(Model.AdditionalLegalDocument))
                        {
                            @:&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" onclick="downloadDocument('AdditionalLegalDocument');">
                                <i class="fa fa-download"></i>Additional Legal Document
                            </button>
                        }
                    </div>
                    <div class="form-row">
                        <div class="col-md-6" style="float:right; @((Model.Status != null && Model.Status.ToLower() == "active" || ViewBag.Operation == "GENERATE_E_SEAL") ? "pointer-events: none; opacity: 0.8" : "")">
                            <h5>Verification Checklist</h5>
                            <partial name="_DocumentCheckboxListReadonlyChecker" for="DocumentListCheckbox" />
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(Model.Status))
                    {
                        <div class="form-row">
                            <div class="form-group">
                                <div class="d-flex" style="margin-top:17px">
                                    <h5>
                                        <label asp-for="Status" style="font-weight:bold">
                                            @Html.DisplayNameFor(m => m.Status)
                                        </label>
                                    </h5>
                                    <input asp-for="Status" class="form-control" style="margin-left:10px" readonly />
                                </div>
                            </div>
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(Model.Remarks))
                    {
                        <div class="form-row">
                            <div class="form-group">
                                <div class="d-flex" style="margin-top:15px">
                                    <h5>
                                        <label asp-for="Remarks" style="font-weight:bold">
                                            @Html.DisplayNameFor(m => m.Remarks)
                                        </label>
                                    </h5>
                                    <textarea asp-for="Remarks" class="form-control" text-wrap:normal" type="text"
                                          style="margin-left:10px" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    }
                    @*@if (ViewBag.Operation == "CREATE" || ViewBag.Operation == "UPDATE")
                    {*@
                    <div class="d-flex float-left" style="width:50%">
                        <div class="d-flex float-left" style="height: fit-content; padding-top: 31px;">
                            @*<button type="button" class="btn btn-primary" onclick="generatePdf()">Generate PDF</button>*@
                            @if (!String.IsNullOrEmpty(Model.Status) && (ViewBag.Operation == "GENERATE_E_SEAL" || (ViewBag.Operation == "UPDATE" && Model.Status.ToLower() == "active")))
                            {
                                <button type="button" class="btn btn-primary" onclick="downloadDocument('SignedPdf');">Download Signed Pdf</button>
                            }
                        </div>
                      
                    </div>
                   
                    <br />
                    <div class="d-flex justify-content-end ">
                        <button type="button" class="btn btn-primary" onclick="UpdateOrg(@ViewBag.ApprovalRecordID, true); return false;">
                            Approve
                        </button>
                        &nbsp; &nbsp;
                        <button type="button" class="btn btn-info" onclick="CheckerAction(@ViewBag.ApprovalRecordID,false); return false;">
                            Reject
                        </button>
                        &nbsp; &nbsp;
                        <a asp-action="Approvals" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var signedPDFfileContent;
        $(document).ready(function () {
            /*For Beadcrum Start*/
            //$('#homeMenu').addClass('breadcrumb-item').append('Details');
            //$('#mainMenu').removeClass('breadcrumb-item');

            $('#dashboardMenu').addClass('active');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
            $('#mainMenu').addClass('breadcrumb-item active').append('Approvals');
            $('#subMenu').addClass('breadcrumb-item').append('Organization > Details');

            /*For Beadcrum End*/

        @{
            if (Model.OrganizationUsersList != null && Model.OrganizationUsersList.Count > 0)
            {
                        @:$('#addSignatoryEmailFieldset').show();
            }

            if (Model.DirectorsEmailList != null && Model.DirectorsEmailList.Count > 0)
            {
                        @:$('#addDirectorFieldset').show();
            }
        }

                $('#SignedPDF').on("change", function () {
                    let fileName;
                    signedPDFfileContent = null;

                    $(this).next('label').text("");
                    $(this).prev('label').text('Upload Signed Document');
                    var i = $(this).prev('label').clone();
                    var file = $(this).get(0).files[0];
                    if (file == undefined) {
                        fileName = "Choose File...";
                    }
                    else {
                        fileName = file.name;
                        var fileExtension = getExtension(fileName);
                        if (allowedFileTypes.includes(fileExtension)) {
                            if (file.size >= 1048576) { // 1 MB
                                $(this).val('');
                                fileName = "Choose File...";
                                swal({ type: 'error', title: "Error", text: "File size cannot be greater than 1MB" });
                            }
                            else {
                                $(this).next('label').text(fileName);
                                var reader = new FileReader();
                                reader.onload = function () {
                                    signedPDFfileContent = reader.result;
                                }
                                reader.readAsDataURL(file);
                            }
                        }
                        else {
                            $(this).val('');
                            fileName = "Choose File...";
                            swal({ type: 'error', title: "File Not Supported", text: "Files with extensions: " + allowedFileTypes.join(',') + " are only supported" });
                        }
                    }
                });


                $(document).on('click', '.liEditViewButton', function () {
                $('#BusinessUser_ESealSignatory').prop('checked', false);
                $('#BusinessUser_ESealPreparatory').prop('checked', false);
                $('#BusinessUser_Bulksign').prop('checked', false);
                $('#ugpassEmailSpan').text("");
                $('#ninSpan').text("");
                $('#passportNumberSpan').text("");
                $('#employeeEmailSpan').text("");
                $('#mobileNumberSpan').text("");
                var indexValue = $(this).closest('li').find('div input[name="OrganizationUsersList.index"]').val();

                $('#index').attr('value',indexValue);

                var designation = $('#OrganizationUsersList_'+ indexValue +'Designation').val();
                var organizationEmail = $('#OrganizationUsersList_'+indexValue+'__EmployeeEmail').val();
                var nin = $('#OrganizationUsersList_'+indexValue+'__NationalIdNumber').val();
                var passportNumber = $('#OrganizationUsersList_'+indexValue+'__PassportNumber').val();
                var ugPassEmail = $('#OrganizationUsersList_' + indexValue + '__Ugpassemail').val();
                var mobileNumber = $('#OrganizationUsersList_' + indexValue + '__MobileNumber').val();

                var affixEseal = $('#OrganizationUsersList_' + indexValue + '__ESealSignatory').prop("checked") ? "checked" : "";
                var prepatory = $('#OrganizationUsersList_' + indexValue + '__ESealPrepatory').prop("checked") ? "checked" : "";
                var bulksigner = $('#OrganizationUsersList_' + indexValue + '__Bulksign').prop("checked") ? "checked" : "";

                document.getElementById('BusinessUser_Designation').value = designation;
                document.getElementById('employeeEmail').value = organizationEmail;
                document.getElementById('BusinessUser_NIN').value = nin;
                document.getElementById('BusinessUser_Passport').value = passportNumber ;
                document.getElementById('BusinessUser_ugPassEmail').value = ugPassEmail;
                document.getElementById('BusinessUser_MobileNumber').value = mobileNumber;

               if(affixEseal == "checked"){
                   
                //document.getElementById('BusinessUser_ESealSignatory').setAttribute("checked", "checked");
                $('#BusinessUser_ESealSignatory').prop('checked', true);
               }
                else {
                    $('#BusinessUser_ESealSignatory').prop("checked", false);
                }
               if(prepatory == "checked"){
                    //document.getElementById('BusinessUser_ESealPreparatory').setAttribute("checked", "checked");
                $('#BusinessUser_ESealPreparatory').prop('checked', true);
               }
                else {
                    $('#BusinessUser_ESealPreparatory').prop("checked", false);
                }
               if(bulksigner == "checked"){
                    //document.getElementById('BusinessUser_Bulksign').setAttribute("checked", "checked");
                $('#BusinessUser_Bulksign').prop('checked', true);
               }
                else {
                    $('#BusinessUser_Bulksign').prop("checked", false);
                }
                $('#modal-addBusinessUser').modal('show');
        });


        });

        function downloadDocument(name) {
            var exportType;
            switch (name) {
                case "AuthorizedLetter":
                    exportType = "pdf";
                    saveByteArray(name, '@Html.Raw(@Model.AuthorizedLetterForSignatories)', exportType)
                    break;

                case "ESeal":
                    exportType = "jpg";
                    saveByteArray(name, '@Html.Raw(@Model.ESealImage)', exportType)
                    break;

                case "Incorporation":
                    exportType = "pdf";
                    saveByteArray(name, '@Html.Raw(@Model.Incorporation)', exportType)
                    break;

                case "Tax":
                    exportType = "pdf";
                    saveByteArray(name, '@Html.Raw(@Model.Tax)', exportType)
                    break;

                case "AdditionalLegalDocument":
                    exportType = "pdf";
                    saveByteArray(name, '@Html.Raw(@Model.AdditionalLegalDocument)', exportType)
                    break;

                case "SignedPdf":
                    exportType = "pdf";
                    saveByteArray(name, '@Html.Raw(@Model.SignedPdf)', exportType)
                    break;
            }
        }

        function saveByteArray(name, base64String, exportType) {
            var myBytes = base64ToArrayBuffer(base64String);
            var blob = new Blob([myBytes]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            if (exportType) {
                let fileName = name + getFileExtension(exportType);
                link.download = fileName;
                link.click();
            }
            else {
                swal({ type: 'error', title: "Error", text: "Type cannot be null" });
            }
        }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

        function getFileExtension(exportType) {
            let extension;
            switch (exportType) {
                case 'jpg':
                    extension = '.jpg';
                    break;
                case 'pdf':
                    extension = '.pdf';
                    break;
                case 'excel':
                    extension = '.xlsx';
                    break;
                case 'csv':
                    extension = '.csv';
                    break;
            }

            return extension;
        }

        function UpdateOrg(id, isApproved) {
            //var operation = '@@ViewBag.Operation';
            //var status = '@@(String.IsNullOrEmpty(Model.Status) ? null : @@Model.Status.ToLower())';
            //if (status != null && (operation === "GENERATE_E_SEAL" || (operation === "UPDATE" && status === "active"))) {
            //    if (signedPDFfileContent == null) {
            //        swal({ type: 'error', title: "Error", text: "Please upload signed document" });
            //        return;
            //    }
            //}
            //if (signedPDFfileContent != null) {
            //    // Verify Signed document and Update org call
            //    var subscriberArray = [];
            //    $('#signatory-email-list li').each(function () {
            //        subscriberArray.push($(this).find(".signatoryEmailListInput").val());
            //    });
            //    //var model = {
            //    //    organizationUID : '@@Model.OrganizationUID',
            //    //    organizationName : '@@Model.OrganizationName',
            //    //    emails : subscriberArray,
            //    //    signedPdf : $('#SignedPDF').get(0).files[0],
            //    //    eSealActionMethod : null
            //    //};

            //    var fileData = new FormData();
            //    fileData.append('organizationUID', '@@Model.OrganizationUID');
            //    fileData.append('organizationName', '@@Model.OrganizationName');
            //    fileData.append('emails', subscriberArray);
            //    fileData.append('signedPdf', $('#SignedPDF').get(0).files[0]);
            //    fileData.append('eSealActionMethod', null);

            //    $.ajax({
            //        type: "POST",
            //        url: '@@Url.Action("VerifySignedDocument", "ESealRegistration")',
            //        headers: {
            //            "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
            //        },
            //        data: fileData,
            //        processData: false,
            //        contentType: false,
            //        error: ajaxErrorHandler,
            //        success: function (response) {
            //            if (response.status == "Success") {
            //                updateOrgCall(id, isApproved);
            //            }
            //            else {
            //                swal({ type: 'error', title: response.title, text: response.message });
            //            }
            //        }
            //    });
            //}
            //else {
                // Update org
                updateOrgCall(id, isApproved);
            //}
        }

        function updateOrgCall(id, isApproved) {
            var requestObject = {};
            var checkboxListArray = [];
            $("#checkbox-list li").each(function () {
                var item =
                {
                    "Id": $(this).find('input[type=number]').val(),
                    "DisplayName": $(this).find('input[type=text]').val(),
                    "IsSelected": $(this).find('input[type=checkbox]').is(":checked")
                }
                checkboxListArray.push(item);
            });
            //requestObject["signedPdf"] = signedPDFfileContent;
            requestObject["documentListCheckbox"] = checkboxListArray;

            CheckerActionWithRequestBodyChange(id, JSON.stringify(requestObject), isApproved);
        }

        function generatePdf() {
            var subscriberArray = [];

            $('#signatory-email-list li').each(function () {
                subscriberArray.push($(this).find(".signatoryEmailListInput").val());
            });
            var postData = { values: subscriberArray };
            $.ajax({
                url: '@Url.Action("ValidateSignatoryEmailList", "ESealRegistration")',
                headers: {
                    "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
                },
                type: "POST",
                data: postData,
                dataType: "json",
                traditional: true,
                error: ajaxErrorHandler,
                beforeSend: function () {
                    $('#overlay').show();
                },
                complete: function () {
                    $('#overlay').hide();
                },
                success: function (data) {
                    if (data.status == "Failed") {
                        $('#signatory-email-list li').each(function () {
                            var email = $(this).find(".signatoryEmailListInput").val();
                            if ($.inArray(email, data.result) > -1) {
                                $(this).find(".signatoryEmailListInput").addClass("text-danger");
                            }
                        });
                        swal({ type: 'error', title: "Error", text: data.message });
                    }
                    else {
                        var model = preparePdfViewModel();
                        $.ajax({
                            type: "POST",
                            headers: {
                                "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
                            },
                            url: '@Url.Action("GetPDFBytes", "ESealRegistration")',
                            data: JSON.stringify(model),
                            contentType: 'application/json',
                            dataType: "json",
                            error: ajaxErrorHandler,
                            beforeSend: function () {
                                $('#overlay1').show();
                            },
                            complete: function () {
                                $('#overlay1').hide();
                            },
                            success: function (data) {
                                if (data.status == "Success") {
                                    saveByteArray($('#OrganizationName').val(), data.result, 'pdf')
                                }
                                if (data.status == "Failed") {
                                    swal({ type: 'error', title: "Error", text: data.message });
                                }
                            }
                        });
                    }
                }
            });
        }

        function preparePdfViewModel() {
            var directorArray = [];

            $('#director-list li').each(function () {
                directorArray.push($(this).find(".directorEmailListInput").val());
            });

            var pdfViewModel =
            {
                "OrganizationName": $('#OrganizationName').val(),
                "OrganizationEmail": $('#OrganizationEmail').val(),
                "UniqueRegdNo": $('#UniqueRegdNo').val(),
                "TaxNo": $('#TaxNo').val(),
                "CorporateOfficeAddress1": $('#CorporateOfficeAddress1').val(),
                "CorporateOfficeAddress2": $('#CorporateOfficeAddress2').val(),
                "Country": $('#Country').val(),
                "Pincode": $('#Pincode').val(),
                "DirectorsEmailList": directorArray,
                "DocumentListCheckbox": prepareCheckboxList(),
                "OrganizationUsersList": prepareSignatoryCheckboxList(),
                "SPOCUgPassEmail": $('#SpocUgpassEmail').val(),
                "EnablePostPaidOption": $('#EnablePostPaidOption').is(":checked")
            };

            return pdfViewModel;
        }

        function prepareCheckboxList() {
            var checkboxListArray = [];
            $("#checkbox-list li").each(function () {
                var item = { "DisplayName": $(this).find('input[type=text]').val(), "IsSelected": $(this).find('input[type=checkbox]').is(":checked") }
                checkboxListArray.push(item);
            });

            return checkboxListArray;
        }

        function prepareSignatoryCheckboxList() {
            var signatoriesListArray = [];
            var i = 0;
            $('#signatory-email-list li').each(function () {
                var email = $(this).find(".signatoryEmailListInput").val();
                var IsOrganizationSignatory = $(this).find('div').children().eq(0).is(':checked');
                var IsOrganizationESealSignatory = $(this).find('div').children().eq(1).is(":checked");
                var IsOrganizationESealPreparatory = $(this).find('div').children().eq(2).is(":checked");

                var item =
                {
                    "Email": email,
                    "Signatory": IsOrganizationSignatory,
                    "ESealSignatory": IsOrganizationESealSignatory,
                    "ESealPrepatory": IsOrganizationESealPreparatory
                }
                signatoriesListArray.push(item);
                i++;
            });

            return signatoriesListArray;
        }

        var allowedFileTypes = [".pdf"];

        function getExtension(filename) {
            return '.' + filename.split('.').pop().toLowerCase();
        }

    </script>
}