@model DTPortal.Web.ViewModel.Clients.ClientsEditViewModel

@{
    ViewData["Title"] = "Services Edit";
}

<style>

    .select2-container {
        width: 100% !important;
    }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

    .selection {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #555555b3;
        font-size: 14px;
        font-family: inherit;
    }

    .custom-check-box {
        margin-right: 5px;
        -webkit-print-color-adjust: exact;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        position: relative !important;
        width: 1.125rem;
        height: 1.125rem;
        background-color: #fff;
        border: .125rem solid rgba(0,0,0,0.3);
    }

    i {
        color: #808080e0;
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        /* top: -43%; */
        /* bottom: -28%; */
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .custom-check-box:hover {
        outline: auto;
        outline-color: #5d9ceca3;
    }

    .modal .modal-content {
        width: 100%;
    }

    @@media (min-width: 1024px) {
        .modal .modal-content {
            width: 130%;
        }
    }
</style>
@{
    await Html.RenderPartialAsync("_AlertBox");
}

<div class="row">

    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form id="uform" enctype="multipart/form-data" asp-action="Update">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group" hidden>
                                <input asp-for="Id" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationType" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.ApplicationType)
                                </label>
                                <select asp-for="ApplicationType" class="form-control"
                                        asp-items="Model.ApplcationTypeList">
                                </select>
                                <span asp-validation-for="ApplicationType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrganizationId" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.OrganizationId)
                                </label>
                                <select asp-for="OrganizationId" class="form-control"
                                        asp-items="Model.OrganizatioList">
                                    <option value="">-- Select Organization Name --</option>
                                </select>
                                <span asp-validation-for="OrganizationId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AuthSchemaId" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.AuthSchemaId)
                                </label>
                                <select asp-for="AuthSchemaId" class="form-control"
                                        asp-items="Model.AuthSchemasList">
                                    <option value="">-- Select Authentication Schema --</option>
                                </select>
                                <span asp-validation-for="AuthSchemaId" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="ApplicationName" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.ApplicationName)
                                </label>
                                <input asp-for="ApplicationName" class="form-control" />
                                <span asp-validation-for="ApplicationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationNameArabic" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.ApplicationNameArabic)
                                </label>
                                <input asp-for="ApplicationNameArabic" class="form-control" />
                                <span asp-validation-for="ApplicationNameArabic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApplicationUri" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.ApplicationUri)
                                </label>
                                <input asp-for="ApplicationUri" class="form-control" />
                                <span asp-validation-for="ApplicationUri" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RedirectUri" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.RedirectUri)
                                </label>
                                <input asp-for="RedirectUri" class="form-control" />
                                <span asp-validation-for="RedirectUri" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LogoutUri" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.LogoutUri)
                                </label>
                                <input asp-for="LogoutUri" class="form-control" />
                                <span asp-validation-for="LogoutUri" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClientId" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.ClientId)
                                </label>
                                <input asp-for="ClientId" class="form-control" readonly />
                                <span asp-validation-for="ClientId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClientSecret" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.ClientSecret)
                                </label>
                                <textarea asp-for="ClientSecret" class="form-control" readonly></textarea>
                                <span asp-validation-for="ClientSecret" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="WithPkce" /> @Html.DisplayNameFor(model => model.WithPkce)
                                        </label>
                                    </div>
                                </div>*@
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label asp-for="ScopesList" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.ScopesList)
                                </label>
                                @*<input asp-for="Scopes" class="form-control" />*@
                                <fieldset style="padding: 5px;border: groove 2px;">
                                    <div class="card-default c-checkbox" style="margin-left: 10px; margin-top:5px;">
                                        @{
                                            var scope = Model.Scopes.Split(" ");
                                        }
                                        @foreach (var item in Model.ScopesList)
                                        {
                                            <label>
                                                <input type="checkbox" class="custom-check-box" name="ScopesList" value="@item" @(scope.Contains(item) ? "checked" : "") />
                                                @item
                                            </label>
                                        
                                            <br>

                                        }
                                    </div>
                                </fieldset>
                                <span asp-validation-for="ScopesList" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GrantTypesList" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.GrantTypesList)
                                </label>
                                <fieldset style="padding: 5px;border: groove 2px;">
                                    <div class="card-default c-checkbox" style="margin-left: 10px; margin-top:5px;">
                                        @foreach (string item in Model.GrantTypesList)
                                        {
                                            <label>
                                                <input type="checkbox" class="custom-check-box" name="GrantTypesList" value="@item" @(Model.GrantTypes.Contains(item) ? "checked" : "") />
                                                @item<span id="@item"></span>
                                            </label>
                                        
                                            <br>

                                        }
                                    </div>
                                </fieldset>
                                <span asp-validation-for="GrantTypesList" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cert" class="col-form-label">
                                    @Html.DisplayNameFor(m => m.Cert)
                                </label>
                                <div class="popup"><i class="fa fa-info-circle"></i></div>
                                <div class="popuptext">upload certificate for request signing purpose</div>
                                <input asp-for="Cert" accept=".crt,.cer" class="form-control" />
                                @if (Model.IsFileUploaded)
                                {
                                    <span class="text-info">Certificate Exist</span>
                                }
                                <span asp-validation-for="Cert" class="text-danger"></span>
                            </div>
                            <input id="client_profiles" asp-for="Profiles" class="form-control" hidden />
                            <input id="client_purposes" asp-for="Purposes" class="form-control" hidden />
                            <div class="form-group" hidden>
                                <input asp-for="GrantTypes" class="form-control" />
                                <input asp-for="Scopes" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div style="float: left;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end ">
                           
                            @if (!User.IsInRole("Service Provider Checker"))
                            {
                                @if (Model.State == "ACTIVE")
                                {
                                    <button type="button" data-operation="UPDATE_CLIENT_STATUS" data-url='@Url.Action("SetClientState", "Clients", new { id = @Model.Id, Doaction = "Deactivation" })' class=" btn  btn-action-outline btn-secondary  CriticalAction">
                                        Deactivate
                                    </button>
                                }
                                @if (Model.State == "DEACTIVATED")
                                {

                                    <button type="button" data-operation="UPDATE_CLIENT_STATUS" data-url='@Url.Action("SetClientState", "Clients", new { id = @Model.Id, Doaction = "Activation" })' class=" btn btn-secondary btn-action-outline CriticalAction">
                                        Activate
                                    </button>
                                }
                                <button style="margin-left:10px;" data-operation="UPDATE_CLIENT" id="submitForm" class="btn btn-primary CriticalAction" type="button" style="opacity: 0.5;">
                                    Update
                                </button>

                            }
                            &nbsp; &nbsp;
                            <a asp-action="List" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var operationName = "";
        var operationUrl = "";
        $(document).ready(function () {

            $('#digitalAuthSidebarElement').addClass('active');
            $('#OauthSamlSidebarElement').addClass('active');
            $('#OauthOpenIDSidebarElement').addClass('active');

            $('#homeSubmenu').addClass('show');
            $('#OauthSamlSubmenu').addClass('show');

            $("li#digitalAuthSidebarElement a:first").attr('aria-expanded', 'true');
            $("li#OauthSamlSidebarElement a:first").attr('aria-expanded', 'true');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Authentication');
            $('#mainMenu').addClass('breadcrumb-item active').append('Services > Edit');
            $('#subMenu').removeClass('breadcrumb-item');


            $("#OrganizationId").select2();
            $("#AuthSchemaId").select2();

            var isCheker = "@User.IsInRole("Service Provider Checker")";
            if (isCheker == "True") {
                $('form *').prop('disabled', true);
            }

            $("input[name=GrantTypesList]").change(function () {
                var list1 = document.getElementById("GrantTypes").value;
                var list = (list1) ? list1.split(" ") : [];
                if (this.checked) {

                    if (!list.includes(this.value)) {
                        list.push(this.value)
                        list = list.join(" ");
                        document.getElementById("GrantTypes").value = list;
                    }
                }
                else {
                    if (list.includes(this.value)) {
                        var i = list.indexOf(this.value)
                        list.splice(i, 1);
                        list = list.join(" ");
                        document.getElementById("GrantTypes").value = list;
                    }
                }
            });

            $("input[name=ScopesList]").change(function () {
                var list1 = document.getElementById("Scopes").value;
                var list = (list1) ? list1.split(" ") : [];
                if (this.checked) {

                    if (!list.includes(this.value)) {
                        list.push(this.value)
                        list = list.join(" ");
                        document.getElementById("Scopes").value = list;
                    }
                }
                else {
                    if (list.includes(this.value)) {
                        var i = list.indexOf(this.value)
                        list.splice(i, 1);
                        list = list.join(" ");
                        document.getElementById("Scopes").value = list;
                    }
                }
            });
            document.getElementById("ApplicationType").addEventListener("change", setcheckbox);
           // setcheckbox();
            getAllValue();

            $(".CriticalAction").on("click", function (e) {
                var button = $(this);
                operationName = button.attr("data-operation");
                operationUrl = button.attr("data-url");
                isAuthenticationRequired();
            })

            $('#ConsentRequired').change(function () {
                if ($(this).is(':checked')) {
                    // Show the button when checked
                    $('#ClientProfiles').removeAttr('hidden');
                } else {
                    // Hide the button when unchecked
                    $('#ClientProfiles').attr('hidden', 'hidden');
                }
            });
        });

        function setcheckbox() {
            var AppType = document.getElementById("ApplicationType").value;
            var grantTypecheckboxes = Array.from(document.querySelectorAll('input[name="GrantTypesList"]'));
            var Scopecheckboxes = Array.from(document.querySelectorAll('input[name="ScopesList"]'));

            $('input[name="GrantTypesList"]').each(function (index) {
                document.getElementById(this.value).innerHTML = "";
                this.checked = false;
            });

            var openidScope = Scopecheckboxes.find(function (e) {
                return e.value == "openid";
            });
            var ProfileScope = Scopecheckboxes.find(function (e) {
                return e.value == "urn:idp:digitalid:profile";
            });

            if (AppType == "Regular Web Application") {
                var authorization_code = grantTypecheckboxes.find(function (e) {
                    return e.value == "authorization_code";
                });
                authorization_code.checked = true;
                document.getElementById("authorization_code").innerHTML = "&nbsp;&nbsp;&nbsp;<b>( Recommended )</b>";

            }
            if (AppType == "Native" || AppType == "Single Page Application") {

                var authorization_code_with_pkce = grantTypecheckboxes.find(function (e) {
                    return e.value == "authorization_code_with_pkce";
                });
                authorization_code_with_pkce.checked = true;
                document.getElementById("authorization_code_with_pkce").innerHTML = "&nbsp;&nbsp;&nbsp;<b>( Recommended )</b>";

            }
            if (AppType == "Machine to Machine Application") {

                var client_credentials = grantTypecheckboxes.find(function (e) {
                    return e.value == "client_credentials";
                });
                client_credentials.checked = true;
                document.getElementById("client_credentials").innerHTML = "&nbsp;&nbsp;&nbsp;<b>( Recommended )</b>";

            }
            openidScope.checked = true;
            ProfileScope.checked = true;

            document.getElementById("GrantTypes").value = $("input[name='GrantTypesList']:checked").val()
            document.getElementById("Scopes").value = openidScope.value + " " + ProfileScope.value
        }

        function submitForm() {

            if (operationName == "UPDATE_CLIENT") {
                var form = $("#uform");
                form.submit();
            } else {
                window.location.href = operationUrl;
            }
        }

        $(function () {
            $("#ClientProfiles").click(function () {
                var profiles = $('#client_profiles').val();
                var purposes = $('#client_purposes').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetClientProfiles", "Clients")',
                    data: {
                        'Profiles': profiles,
                        'Purposes': purposes
                    },
                    headers: {
                        "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                        $('#overlay1').show();
                    },
                    complete: function () {
                        $('#overlay1').hide();
                    },
                    success: function (data) {
                        $('#modalDialogContentDiv').html(data);
                        $('#modalDialogDiv').modal('show');
                    },
                    error: ajaxErrorHandler,
                    failure: function (response) {
                        swal({ type: 'error', title: "Error", text: "Failed to process your request" });
                    }
                });
            });
        });

    </script>
}

