@model DTPortal.Web.ViewModel.Clients.ClientsSessionListViewModel;
@using System.Security.Claims;

@{ ViewData["Title"] = "Services Sessions"; }


@{await Html.RenderPartialAsync("_AlertBox");}
@{
    var currentUserName = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name).Value;
    var currentUserId = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <button type="button"  class="btn btn-info" id="deletAll" style='@(Model.session == null || Model.session.Count() == 0? "pointer-events: none;color: #ccc;":"")'>
                                Logout All Session
                            </button>

                        </div>
                    </div>

                </div>
                <table id="sessionTable" class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>IP Address</th>
                            <th>Started</th>
                            <th>Last Access</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.session == null || Model.session.Count() == 0)
                        {
                            <tr>
                                <td style="text-align:center" valign="top" colspan="6" class="dataTables_empty">No record found</td>
                            </tr>

                        }
                        else
                        {
                            @foreach (var item in Model.session)
                            {
                                <tr class="odd gradeX">
                                    <td>@item.UserId</td>
                                    <td>@item.FullName</td>
                                    <td>@item.IpAddress</td>
                                    <td>@item.LoggedInTime</td>
                                    <td>@item.LastAccessTime</td>
                                    <td class="valigntop">
                                        <div class="btn-group">
                                            <a class="btn btn-primary js-delete" data-UserId="@item.UserId" data-UserName="@item.FullName" data-id="@item.GlobalSessionId"><i class="fa fa-trash"></i>Logout</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var table = "";
        $(document).ready(function () {

            $('#digitalAuthSidebarElement').addClass('active');
            $('#OauthSamlSidebarElement').addClass('active');
            $('#OauthOpenIDSidebarElement').addClass('active');

            $('#homeSubmenu').addClass('show');
            $('#OauthSamlSubmenu').addClass('show');

            $("li#digitalAuthSidebarElement a:first").attr('aria-expanded', 'true');
            $("li#OauthSamlSidebarElement a:first").attr('aria-expanded', 'true');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Authentication');
            $('#mainMenu').addClass('breadcrumb-item active').append('Services > Session > '+'@Model.ClientName');
            $('#subMenu').removeClass('breadcrumb-item');
             table = $("#sessionTable").DataTable({
                "bLengthChange": false,
            });

            $('#sessionTable').on('click', '.js-delete', function () {
                var deleteButton = $(this);
                var id = deleteButton.attr("data-id");
                var UserId = deleteButton.attr("data-UserId");
                var UserName = deleteButton.attr("data-UserName");

                if ('@currentUserName' == UserName && '@currentUserId' == UserId) {
                    swal({
                        title: "Not Allowed!",
                        text: "Do not have permission to self logout",
                        button: "Close", // Text on button
                        type: "info", //built in icons: success, warning, error, info
                        timer: 4000, //timeOut for auto-close
                        buttons: {
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: true
                            },
                            cancel: {
                                text: "Cancel",
                                value: false,
                                visible: true,
                                className: "",
                                closeModal: true,
                            }
                        }
                    }, function (isConfirm) {
                        if (isConfirm) {
                            return true;
                        } else {
                            swal.close();
                            return true;
                        }
                    });
                    return true;
                }

                swal({
                    title: "Are you sure!",
                    text: "you want to logout this user session",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            cache: false,
                            dataType: 'json',
                            url: '@Url.Action("Logout", "Clients")',
                            data: {
                                id: id
                            },
                            beforeSend: function () {
                                $('#overlay').show();
                            },
                            complete: function () {
                                $('#overlay').hide();
                            },
                            success: function (result, status, xhr) {
                                var title, text, type = "";
                                if (result.success) {
                                    title = "Success!";
                                    type = "success";
                                    text = "Logout successful"
                                }
                                else {
                                    title = "Error!";
                                    type = "error";
                                    text = result.message
                                }
                                swal(title, text, type);
                                $("#sessionTable").DataTable().row(deleteButton.parents("tr")).remove().draw();
                            },
                            error: ajaxErrorHandler
                        });
                    } else {
                        return true;
                    }
                });
            });

            $("#deletAll").on("click", function (e) {
                var data = table.rows({ selected: true }).data().toArray();
                var currentUserName = '@currentUserName';
                var currentUserId = '@currentUserId';

                var rows = [];

                var total = data.filter(x => x[0] == currentUserId && x[1] == currentUserName)

                if (data.length == total.length) {

                        swal({
                            title: "Not Allowed!",
                            text: "Do not have permission to self logout",
                            button: "Close", // Text on button
                            type: "info", //built in icons: success, warning, error, info
                            timer: 4000, //timeOut for auto-close
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    value: true,
                                    visible: true,
                                    className: "",
                                    closeModal: true
                                },
                                cancel: {
                                    text: "Cancel",
                                    value: false,
                                    visible: true,
                                    className: "",
                                    closeModal: true,
                                }
                            }
                        }, function (isConfirm) {
                            if (isConfirm) {
                                return true;
                            } else {
                                swal.close();
                                return true;
                            }
                        });
                        return true;

                }

                for (var i = 0; i < data.length; i++) {
                    if (currentUserName != data[i][1] && currentUserId != data[i][0]) {
                        rows.push(data[i][3]);
                    }

                }

                if (rows.length == 0) {
                    swal("Message", "No record(s) selected", "info");
                } else {
                    e.preventDefault();
                    swal({
                        title: "Are you sure?",
                        text: `You are about to delete ${rows.length} record(s)!`,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                            if (isConfirm) {

                                fn_custom_delete(rows);

                        } else {
                            swal("Abort", "Operation aborted :)", "error");
                            deselectAllRecords()
                        }
                    });

                }
                return false;
            });
        });


        function fn_custom_delete(data) {
            try {
                if (data.length) {
                    $.ajax(
                        {
                            type: 'POST',
                            url: '@Url.Action("LogoutAll", "Clients")',
                           // contentType: 'application/json',
                            //dataType: 'json',
                            //traditional: true,
                            data: {
                                id: data
                            },
                            beforeSend: function (xhr, opts) {
                                swal("Processing", "Please wait while we are deleting records", "info")
                            },
                            success: function (result, status, xhr) {
                                var title, text, type = "";
                                if (result.success) {
                                    title = "Success!";
                                    type = "success";
                                    text = "Logout successful"
                                }
                                else {
                                    title = "Error!";
                                    type = "error";
                                    text = result.message
                                }
                                swal(title, text, type);
                                window.location.reload();
                            },
                            error: ajaxErrorHandler
                        }
                    )
                } else {
                    throw "No data provided to delete"
                }
            } catch (error) {
                alert(error)
            }
        }

    </script>
}
