@model DTPortal.Web.ViewModel.CriticalOperation.CriticalOperationListViewModel

@{
    ViewData["Title"] = "CriticalOperation";
}

@{await Html.RenderPartialAsync("_AlertBox");}
@*<a asp-action="New" class="btn-primary mytablebutton">
        Create New
    </a>*@
@if (User.IsInRole("Critical Operation Checker"))
{
    <button type="button" onClick="window.location.reload();" href="" class="btn-primary mytablebutton">
        Refresh Table
    </button>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">

                            @if (User.IsInRole("Critical Operation Checker"))
                            {
                                <button type="button" onClick="window.location.reload();" href="" class="btn btn-info">
                                    Refresh Table
                                </button>
                            }

                        </div>
                    </div>

                </div>
                <table id="operationTable" class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                    <thead>
                        <tr>
                            <th>
                                Operation Name
                            </th>
                            @*<th>
                                    Authentication Name
                                </th>*@
                            <th>
                                Description
                            </th>
                            <th>
                                Authentication Enable
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null || Model.List.Count() == 0)
                        {
                            <tr>
                                <td style="text-align:center" valign="top" colspan="4" class="dataTables_empty">No record found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.List)
                            {
                                <tr class="odd gradeX">

                                    <td>@item.DisplayName</td>
                                    @*<td>@item.AuthenticationSchemeName</td>*@
                                    <td>@item.Description</td>
                                    <td>@item.AuthenticationRequired</td>
                                    <td class="valigntop">
                                        <div class="btn-group">
                                            <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-left">
                                                @*@if (!User.IsInRole("Critical Operation Checker"))
                                                    {*@
                                                <li>
                                                    <a href="@Url.Action("Edit", "CriticalOperation", new { id = item.Id })">
                                                        <i class="icon-docs"></i>Edit
                                                    </a>
                                                </li>
                                                @*}
                                                    else
                                                    {
                                                        if (item.State == "UPDATED" || item.State == "BLOCKED")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("Edit", "CriticalOperation", new { id = item.Id })">
                                                                    <i class="icon-docs"></i>View
                                                                </a>
                                                            </li>
                                                        }
                                                    }*@
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {

           $('#administrationSidebarElement').addClass('active');
            $('#adminConfigurationSidebarElement').addClass('active');
            $('#CriticalOperationSidebarElement').addClass('active');

            $('#adminSubmenu').addClass('show');
            $('#adminConfigurationSubmenu').addClass('show');

            $("li#administrationSidebarElement a:first").attr('aria-expanded', 'true');
            $("li#adminConfigurationSidebarElement a:first").attr('aria-expanded', 'true');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Administration');
            $('#mainMenu').addClass('breadcrumb-item active').append('  Critical Operation');
            $('#subMenu').removeClass('breadcrumb-item');

        });

    </script>
}

