@model IEnumerable<DTPortal.Web.ViewModel.AttributeServiceTransactions.AttributeServiceViewModel>

@{
    ViewData["Title"] = "Attribute Service Transactions";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}
<style>
    .modal-dialog {
        max-width: 900px;
    }

    .cross {
        color: black !important;
        padding: 5px !important;
        margin: 10px !important;
        opacity: 1 !important;
        pointer-events: auto !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a class="btn btn-info greenButton" asp-action="List">
                                <i class="fa fa-refresh"></i>Refresh
                            </a>

                        </div>

                    </div>

                </div>
                <table id="transactionsTable" class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                    <thead>
                        <tr>
                            <th hidden>Id</th>
                            <th>Transaction Id</th>
                            <th>Client Name</th>
                            <th>Requested Date</th>
                            <th>Status</th>
                            <th>Requested Profile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null || Model.Count() == 0)
                        {
                            <tr>
                                <td style="text-align:center" valign="top" colspan="5" class="dataTables_empty">No record found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td hidden>@item.Id</td>
                                    <td>@(string.IsNullOrEmpty(item.TransactionId) ? "NA" : item.TransactionId)</td>
                                    <td>@(string.IsNullOrEmpty(item.ClientName) ? "NA" : item.ClientName)</td>
                                   
                                        <td>
                                            @if (@item.RequestDate != DateTime.MinValue)
                                            {
                                                    
                                                     @item.RequestDate
                                            }
                                            else
                                            {
                                                    
                                                    <span>NA</span>
                                            }
                            
                                        </td>
                                    @*<td>@item.RequestDate</td>*@
                                    <td>@(string.IsNullOrEmpty(item.Status) ? "NA" : item.Status)</td>
                                    <td>@(string.IsNullOrEmpty(item.RequestProfile) ? "NA" : item.RequestProfile)</td>
                                    <td class="valigntop">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary greenButton" onclick="TransactionDetails(@item.Id)">View</button>

                                        </div>
                                       
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function TransactionDetails(id) {
            var dataToSend = { id: id };
            $.ajax({
                url: '@Url.Action("GetDetails", "AttributeServiceTransactions")',
                data: dataToSend,
                type: "GET",
                error: ajaxErrorHandler,
                beforeSend: function () {
                    $('#overlay').show();
                },
                complete: function () {
                    $('#overlay').hide();
                },
                success: function (data) {
                    if (data != null) {
                        $('#modalDialogContentDiv').html(data);
                        $('#modalDialogDiv').modal('show');

                    } else {
                        swal({ type: 'error', title: "Failed", text: "Attribute Service Transactions not found" });
                    }
                }
            });

        }

        $(document).ready(function () {


            $('#eConsentMenu').addClass('active');

            if ($('#sidebar ul li.dropdown.active')) {
                $('#sidebar ul li.dropdown.active ul').addClass('show');
                $('#AttributeServiceTransactionsMenuItem').addClass('active');
                $('#sidebar ul li.dropdown.active a.nav-link.drop-logo').attr('aria-expanded', 'true');
            }

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('E-Consent Service');
            $('#mainMenu').addClass('breadcrumb-item active').append('Transactions');
            $('#subMenu').removeClass('breadcrumb-item');

            var table = $("#transactionsTable").DataTable({
                "bLengthChange": false,
                "searching": true,
                "ordering": false
            });
        });

    </script>
}

