@model DTPortal.Web.ViewModel.MobileVersionConfiguration.MobileVersionConfigurationListViewModel

@{
    ViewData["Title"] = "Supported Mobile Versions";
}

@{await Html.RenderPartialAsync("_AlertBox");}

<style>
   .updateLink:hover {
            color : blue;
            text-decoration: underline;
        }
</style>

<!--TABLE CONTENT START-->
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a class="btn btn-info" asp-action="Add">
                                <i class="fa fa-plus"></i>Add
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-info" asp-action="List">
                                <i class="fa fa-refresh"></i>Refresh
                            </a>
                        </div>
                    </div>

                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                    <thead>
                        <tr>
                            <th>OS Version</th>
                            <th>Latest Version</th>
                            <th>Minimum Version</th>
                            <th>Update Link</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MobileVersions)
                        {
                            <tr class="odd gradeX">
                                <td>@item.OsVersion</td>
                                <td>@item.LatestVersion</td>
                                <td>@item.MinimumVersion</td>
                                <td><a class="updateLink" href="@item.UpdateLink" target="_blank">@item.UpdateLink</a></td>
                                <td class="valigntop">
                                    <div class="btn-group">
                                        <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left">
                                            <li>
                                                <a asp-action="Edit" asp-route-id="@item.Id">
                                                    <i class="icon-docs"></i>Edit
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#portalSettingsMenu').addClass('active');

            if ($('#sidebar ul li.dropdown.active')) {
                $('#sidebar ul li.dropdown.active ul').addClass('show');
                $('#mobileVersionConfigurationMenuItem').addClass('active');
                $('#sidebar ul li.dropdown.active a.nav-link.drop-logo').attr('aria-expanded', 'true');
            }

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Mobile App  Settings');
            $('#mainMenu').addClass('breadcrumb-item active').append('Supported Mobile Versions');
            $('#subMenu').removeClass('breadcrumb-item');
            /*For Beadcrum End*/

            $(".table").DataTable({
                "bLengthChange": false,
            });
        });
    </script>
}
