@model DTPortal.Web.ViewModel.Subscriber.LogReportsPdfViewModel

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    td, th {
        border: 1px solid gray;
        padding: 10px;
        font-size: 18px;
        text-align: center;
    }

    table th {
        background-color: #AEC737;
        color: white;
    }
</style>

<div style="text-align:center;">
    <h3>
        <span>
            @Model.TransactionType Logs of @Model.SubscriberFullName
        </span>
    </h3>
</div>
<div class="table-wrap">
    <div class="table-responsive">
        <table class="table display product-overview mb-30" id="support_table5">
            <thead>
                <tr>
                    <th>Operation</th>
                    <th>Application Name</th>
                    <th>Message</th>
                    <th style="width:80px">Status</th>
                    <th style="width:80px">Integrity</th>
                    <th style="width:175px">Duration</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LogReports.Count() > 0)
                {
                    @foreach (var item in Model.LogReports)
                    {
                        <tr>
                            <td>@item.ServiceName</td>
                            <td>@item.ServiceProviderAppName</td>
                            <td>@item.LogMessage</td>
                            <td>@item.LogMessageType</td>
                            <td>@(item.IsChecksumValid ? "Valid" : "Invalid")</td>
                            <td>
                                @(Convert.ToDateTime(item.StartTime).ToString("dd-MM-yyyy hh:mm:ss tt")) -
                                @(Convert.ToDateTime(item.EndTime).ToString("dd-MM-yyyy hh:mm:ss tt"))
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" align="center">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
