@model DTPortal.Web.ViewModel.category.CatecoryEditViewModel

@{
    ViewData["Title"] = "Category Edit";
}

<style>
    .custom-check-box {
        margin-right: 5px;
        margin-top: 2px;
        -webkit-print-color-adjust: exact;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        position: relative !important;
        width: 1.4rem;
        height: 1.4rem;
        background-color: #fff;
        border: 0.125rem solid rgba(0,0,0,0.3);
    }



    i {
        color: #808080e0;
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        /* top: -43%; */
        /* bottom: -28%; */
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .custom-check-box:hover {
        outline: auto;
        outline-color: #5d9ceca3;
    }
</style>
@{
    await Html.RenderPartialAsync("_AlertBox");
}

<div class="row">

    <div class="col-md-12">
        <div class="card-custom">
            <div class="card-body">
                <form id="uform" enctype="multipart/form-data" asp-action="Update">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group" hidden>
                                <input asp-for="Id" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.Name)
                                </label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.Description)
                                </label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.Status)
                                </label>
                                <input asp-for="Status" class="form-control" readonly />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreatedDate" class="col-form-label s3">
                                    @Html.DisplayNameFor(m => m.CreatedDate)
                                </label>

                                <input id="CreatedDateLocal"
                                       class="form-control"
                                       data-utc="@Model.CreatedDate?.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss")"
                                       readonly />


                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div style="padding-right: 10px">
                        <div style="float: left;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end ">

                            @if (User.IsInRole("Credential Category"))
                            {


                                <button style="margin-left:10px;" id="submit" class="btn btn-primary greenButton" type="submit">
                                    Update
                                </button>

                            }


                            &nbsp; &nbsp;
                            <a asp-action="List" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            $('#walletMenu').addClass('active');
            //$('#ConfigurationSidebarElement').addClass('active');
            $('#CategorySidebarElement').addClass('active');

            $('#walletConfig').addClass('show');
            //$('#ConfigurationSubmenu').addClass('show');

            $("li#walletMenu a:first").attr('aria-expanded', 'true');
            $("li#walletMenu a:first").attr('aria-expanded', 'true');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Wallet');
            $('#mainMenu').addClass('breadcrumb-item active').append(' Credential Category >  Edit');
            $('#subMenu').removeClass('breadcrumb-item');
            var isCheker = "@User.IsInRole("Digital Wallet")";
            if (isCheker == "False") {
                $('form *').prop('disabled', true);
            }

        });
                  function convertUtcToLocal(timestamp) {
            if (!timestamp) return "N/A";

            // Force UTC interpretation by appending Z
            const utcDate = new Date(timestamp.endsWith("Z") ? timestamp : timestamp + "Z");

            if (isNaN(utcDate)) return "Invalid Date";

            const day = String(utcDate.getDate()).padStart(2, "0");
            const month = String(utcDate.getMonth() + 1).padStart(2, "0");
            const year = utcDate.getFullYear();

            const hours = String(utcDate.getHours()).padStart(2, "0");
            const minutes = String(utcDate.getMinutes()).padStart(2, "0");
            const seconds = String(utcDate.getSeconds()).padStart(2, "0");

            return `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
        }

                document.addEventListener("DOMContentLoaded", function () {

            const input = document.getElementById("CreatedDateLocal");

            if (input) {

                const utcValue = input.getAttribute("data-utc");

                if (utcValue) {
                    input.value = convertUtcToLocal(utcValue);
                }

            }

        });


    </script>
}
