@model DTPortal.Web.ViewModel.ESealRegistration.PDFViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var clientName = @Configuration["ProjectName"] as string;
}
<style>
    .pdfView table {
        border-collapse: collapse;
    }

    .pdfView {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

        .pdfView table td {
            padding: 8px;
            vertical-align: top;
        }

        .pdfView table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

    .logo {
        width: 100%;
        height: 150px;
        text-align: center;
    }

    .container {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
        border-radius: 5px;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: 3px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    label {
        display: inline-block;
        width: 200px;
        height: 10px;
    }

    .col12 {
        border-bottom: 1px solid black;
    }

        .col12:last-child {
            border-bottom: none;
        }
</style>

<div>
    <div class="logo">
        <img style='width:342px;height:93px' src="@Model.PdfLogo" alt="alter img" />
    </div>
    <div class="pdfView">
        <table align='center'>
            <tr>
                <th style="min-width:210px"></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Organization Name</td>
                <td>:</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.OrganizationName))
                    {
                        <span>NA</span>
                    }
                    else
                    {
                        <span>@Model.OrganizationName</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Organization Email</td>
                <td>:</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.OrganizationEmail))
                    {
                        <span>NA</span>
                    }
                    else
                    {
                        <span>@Model.OrganizationEmail</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Unique Registered Number</td>
                <td>:</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.UniqueRegdNo))
                    {
                        <span>NA</span>
                    }
                    else
                    {
                        <span>@Model.UniqueRegdNo</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Tax Number (TAN)</td>
                <td>:</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.TaxNo))
                    {
                        <span>NA</span>
                    }
                    else
                    {
                        <span>@Model.TaxNo</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Corporate Office Address</td>
                <td>:</td>
                <td>
                    @Model.CorporateOfficeAddress1, @Model.CorporateOfficeAddress2, @Model.Country, Zipcode: @Model.Pincode
                </td>
            </tr>
            <tr>
                <td>SPOC @clientName Email</td>
                <td>:</td>
                <td>@Model.SPOCUgPassEmail</td>
            </tr>
            <tr>
                <td>Enable Post Paid</td>
                <td>:</td>
                <td style="text-align: center; ">
                    <span class="container">
                        <input type="checkbox" checked="@Model.EnablePostPaidOption" />
                        <span style="margin-left:15px" class="checkmark"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Signature Template</td>
                <td>:</td>
                <td>@Model.SignatureTemplate</td>
            </tr>
            <tr>
                <td>ESeal Template</td>
                <td>:</td>
                <td>@Model.ESealTemplate</td>
            </tr>
            <tr>
                <td>Email Domain</td>
                <td>:</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.EmailDomain))
                    {
                        <span>NA</span>
                    }
                    else
                    {
                        <span>@Model.EmailDomain</span>
                    }
                </td>

            </tr>
        </table>

        <table align='center'>
            <th>
                <td><div style="float:left">Business Users</div><div style="margin-left:33%; padding-left:3px"></div></td>

            </th>
            <table class="split-table" style="border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 0, 0, .15);">
                <th></th>

                @foreach (var orgUser in Model.OrganizationUsersList)
                {


                    <tr class="col12">
                        <td>
                            <table align='center'>
                                <th></th>
                                <tr>
                                    <td><span style="padding:10px;">UAEID Email</span> </td>
                                    <td> : </td>

                                    <td>
                                        @if (string.IsNullOrEmpty(orgUser.UgpassEmail))
                                        {
                                            <span>NA</span>
                                        }
                                        else
                                        {
                                            <span>@orgUser.UgpassEmail</span>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td><span style="padding:10px;">Organization Email</span> </td>
                                    <td> : </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(orgUser.EmployeeEmail))
                                        {
                                            <span>NA</span>
                                        }
                                        else
                                        {
                                            <span>@orgUser.EmployeeEmail</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                            <div class="box" style="width:700px; margin:10px;display:table; border:none; height:100px;">
                                <div class="box-row" style="display:table-row;">
                                    <div class="box-cell" style=" display:table-cell;   width:60%; height:60%;">
                                        <table align='center'>
                                            <th></th>
                                            <tr>
                                                <td><span>NIN</span></td>
                                                <td> : </td>
                                                <td>
                                                    @if (string.IsNullOrEmpty(orgUser.NationalIdNumber))
                                                    {
                                                        <span>NA</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@orgUser.NationalIdNumber</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span>Passport Number</span> </td>
                                                <td> : </td>
                                                <td>
                                                    @if (string.IsNullOrEmpty(orgUser.PassportNumber))
                                                    {
                                                        <span>NA</span>
                                                    }
                                                    else
                                                    {
                                                        <lable>@orgUser.PassportNumber</lable>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>Mobile Number</span></td>
                                                <td> : </td>
                                                <td>
                                                    @if (string.IsNullOrEmpty(orgUser.MobileNumber))
                                                    {
                                                        <span>NA</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@orgUser.MobileNumber</span>
                                                    }
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><span>Designation</span></td>
                                                <td> : </td>
                                                <td>
                                                    @if (string.IsNullOrEmpty(orgUser.Designation))
                                                    {
                                                        <span>NA</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@orgUser.Designation</span>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="box-cell" style=" display:table-cell; width:20%; padding:0px; ">
                                        <table align='center'>
                                            <th></th>
                                            <tr>
                                                <td><span>AffixEseal</span></td>
                                                <td> : </td>
                                                <td>
                                                    <span class="container">
                                                        <input type="checkbox" checked="@orgUser.ESealSignatory" />
                                                        <span style="margin-left:8px" class="checkmark"></span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>Preparatory</span></td>
                                                <td> : </td>
                                                <td>
                                                    <span class="container">
                                                        <input type="checkbox" checked="@orgUser.ESealPrepatory" />
                                                        <span style="margin-left:8px" class="checkmark"></span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>BulkSigner</span></td>
                                                <td> : </td>
                                                <td>
                                                    <span class="container">
                                                        <input type="checkbox" checked="@orgUser.Bulksign" />
                                                        <span style="margin-left:8px" class="checkmark"></span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </td>



                    </tr>

                }
            </table>

        </table>

        <table align='center'>
            <th></th>
            <tr>
                <td>Board Directors</td>
                <td>:</td>
                <td>
                    @string.Join(", ", Model.DirectorsEmailList)
                </td>
            </tr>
            <tr>
                <td>Verification Checklist</td>
                <td>:</td>
                <td>
                    @foreach (var item in Model.DocumentListCheckbox)
                    {
                        <label class="container">
                            @item.DisplayName
                            <input type="checkbox" checked="@item.IsSelected" />
                            <span class="checkmark"></span>
                        </label>
                        <br />
                    }
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top:40px">
        <span style="margin-left:20px; margin-top:30px; font-size:20px">I hereby declare the above organization details have been verified by me.</span>
    </div>
    <div align="right" style="margin-right:50px;margin-top:40px">
        <span style="font-size:20px">@Model.UserName</span>
    </div>
</div>






