@model DTPortal.Web.ViewModel.AllPaymentHistory.AllPaymentHistoryPdfViewModel

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    td, th {
        border: 1px solid gray;
        padding: 10px;
        font-size: 18px;
        text-align: center;
    }

    table th {
        background-color: #AEC737;
        color: white;
    }
</style>

<div class="table-wrap">
    <div class="table-responsive">
        <table class="table display product-overview mb-30" id="support_table5">
            <thead>
                <tr>
                    <th>DateTime</th>
                    <th>Transaction Reference Id</th>
                    <th>Aggregator Acknowledgement Id</th>
                    <th>Payment Status</th>
                    <th>Total Amount</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AllPaymentHistory.Count() > 0)
                {
                    @foreach (var item in Model.AllPaymentHistory)
                    {
                        <tr>
                            <td>@item.CreatedOn</td>
                            <td>@item.TransactionReferenceId</td>
                            <td>@item.AggregatorAcknowledgementId</td>
                            <td>@item.PaymentStatus</td>
                            <td>@item.TotalAmount</td>
                            <td>@item.EncryptedMobileNumber</td>

                            @*<td style="width:400px">@item.LogMessage</td>
                            <td>@item.LogMessageType</td>
                            <td style="white-space:nowrap">@(Convert.ToDateTime(item.Timestamp).ToString("dd-MM-yyyy hh:mm:ss tt"))</td>
                            <td>@(item.IsChecksumValid ? "Valid" : "Invalid")</td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" align="center" style="width:200%">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>